.keypad-key {
    -fx-background-color: #303030;
    -fx-font-size: 24pt;
    -fx-font-weight: 300;
    -fx-text-fill: white;
}

.gcode-history {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 18pt;
}

.gcode-field {
    -fx-font-size: 18pt;
}

.gcode-clear {
    -fx-background-color: #303030;
    -fx-font-size: 18pt;
}
