body {
  -fx-font-family: "Source Sans Pro", "sans-serif";
}

.button {
    -fx-background-color: inherit;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-font-family: "Source Sans Pro";
    -fx-text-fill: #ffffff;
}

.text-area {
}

.text-field {
}

.bottom-bar-back {
    -fx-graphic: url("/image/bottom-bar-back.png");
}

.bottom-bar-console {
    -fx-graphic: url("/image/bottom-bar-console.png");
}

.bottom-bar-next {
    -fx-graphic: url("/image/bottom-bar-next.png");
}

.bottom-bar-home {
    -fx-graphic: url("/image/bottom-bar-home.png");
}

.bottom-bar-save {
    -fx-graphic: url("/image/bottom-bar-save.png");
}

.bottom-bar-main-menu {
    -fx-graphic: url("/image/bottom-bar-main-menu.png");
}

.bottom-bar-settings {
    -fx-graphic: url("/image/bottom-bar-settings.png");
}

.bottom-bar-unlock {
    -fx-graphic: url("/image/bottom-bar-unlock.png");
}

.bottom-bar {
    -fx-background-color: #000000;
}

.centered-background-image {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}


.ambient {
    -fx-text-fill: #1eb43c;
}

.bed {
    -fx-text-fill: #ffc800;
}

.italic-text {
    -fx-font-style: italic;
}

.large-text {
    -fx-font-size: 24pt;
}

.material-1 {
    -fx-text-fill: #009ee3;
}

.material-2 {
    -fx-text-fill: #eb672a;
}

.medium-text {
    -fx-font-size: 12pt;
}

.panel {
    -fx-background-color: #303030;
}

.page-title {
    -fx-text-fill: #009ee3;
    -fx-font-size: 32pt;
}

.panel-title {
    -fx-text-fill: #009ee3;
    -fx-font-size: 24pt;
}

.root {
    -fx-text-fill: #ffffff;
    -fx-background-color: #414141;
}
